.image {
    background-color: gray;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 10px 5px black;
}

#google_lensResult {
    background-color: white;
    border-radius: 10px;
    height: 30px;
    width: 300px;
    margin-left: 100px;
}

#mobilenetResult {
    background-color: white;
    border-radius: 10px;
    height: 30px;
    width: 300px;
    margin-left: 150px;
}

.copyRightFooter {
    background-color: cadetblue;
    text-align: center;
    width: 1520px;
    height: px;
    border-radius: 100px;
    position: absolute;
    position: fixed;
    bottom: 0px;
    margin-left: 0px;
}

.img-responsive {
    height: 300px;
}

#google_lens {
    height: 200px;
}

.image1, .image2, .image3, .image4, .image5 {
    float: none
}

#mobilenet_logo {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}